asgiref==3.5.0
beautifulsoup4==4.11.1
certifi==2022.5.18.1
charset-normalizer==2.0.12
cssselect2==0.6.0
Django==4.0.4
django-bootstrap4==22.1
django-cleanup==6.0.0
easy-thumbnails==2.8.1
idna==3.3
lxml==4.8.0
Pillow==9.1.0
reportlab==3.6.9
requests==2.27.1
soupsieve==2.3.2
sqlparse==0.4.2
svglib==1.2.1
tinycss2==1.1.1
tzdata==2022.1
urllib3==1.26.9
webencodings==0.5.1
whitenoise==6.1.0
