{% extends 'todolist/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
{% for tender in tenders %}
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        {{ tender.title }}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <p>НМЦ {{ tender.nominal_max_price }}</p>
        <p>Дата подачи {{ tender.submit_date }}</p>
        <p><a href="{{ tender.link }}">Ссылка</a></p>
        <a href="{% url 'update_tender_url' tender.id %}"><button type="button" class="btn btn-outline-warning">Изменить</button></a>
        <a href="{% url 'delete_tender_url' tender.id %}"><button type="button" class="btn btn-outline-danger">Удалить</button></a>
        </div>
    </div>
  </div>
  
</div>
{% endfor %}
{% endblock %}